{% extends "SweepoCoreBundle:Layouts:main.html.twig" %}

{% block container %}
    {% if error %}
        <div class="alert alert-error">{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">{{ "username" | trans }} :</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">{{ "password" | trans }} :</label>
        <input type="password" id="password" name="_password" />

        <input type="hidden" name="_target_path" value="/" />

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{{ "login" | trans }}</button>
        </div>
    </form>
{% endblock %}