<thead>
    <tr>
        <th class="ratio2 left">Date</th>
        <th class="ratio4 left">Match</th>
        <th class="ratio4 left">Type de paris</th>
        <th class="ratio2 left">Pari</th>
        <th class="ratio1 center">Cote</th>
        <th class="ratio1 center">Mise %</th>
        <th class="ratio1 center">Mise €</th>
        <th class="ratio1 center">Résultat</th>
        <th class="ratio1 center">G/P €</th>
        <th class="ratio1 center">P %</th>
        <th class="ratio4 left">Actions</th>
    </tr>
</thead>
<tbody>

    {% for bet in bets %}
        <tr>
            <td class="ratio2 left">{{ bet.date | date("d.m.Y") }}</td>
            <td class="ratio4 left">{{ bet.firstTeam.name }} - {{ bet.secondTeam.name }}</td>
            <td class="ratio4 left">{{ bet.type }}</td>
            <td class="ratio2 left">{{ bet.bet }}</td>
            <td class="ratio1 center">{{ bet.odds }}</td>
            <td class="ratio1 center">{{ bet.stakePercent }}</td>
            <td class="ratio1 center">{{ bet.stakeEuro }}</td>
            <td class="ratio1 center">{{ bet.result }}</td>
            <td class="ratio1 center">{{ bet.gainLoss }}</td>
            <td class="ratio1 center">{{ bet.profit }}</td>
            <td class="ratio4 left">
                <button class="btn actions">
                    <span class="icon-edit"></span>
                </button>
                <button class="btn btn-danger actions">
                    <span class="icon-remove icon-white"></span>
                </button>
            </td>
        </tr>
    {% endfor %}

</tbody>

<style type="text/css">

    .ratio1 {
        width: 6%;
    }

    .ratio2 {
        width: 8.6%;
    }

    .ratio3 {
        width: 13%;
    }

    .ratio4 {
        width: 17.4%;
    }

    .actions {
        padding: 0 5px 0 5px;
    }

    .actions .icon-remove, .icon-edit {
        margin: 2px 0 4px 0;
    }

</style>
